body{
	background-image: url('citybg1.jpg'); background-size:'cover';
}
header{
	height:95px; width:100%; background-color: #B1B819; opacity:0.8;
}
header h2{
	 color:#D53E1F; padding-left:75px; text-align:center; padding-top:10px; font-style:italic;
}
.div1{
	height:100%; width: 25%; margin-top:5%; color:#D53E1F; background-color:#B1B819; font-style:oblique; font-weight:bold; float:left;
}
.div1 h2{
	color:#D53E1F; padding-left:0%; padding-top:10px; font-style:italic;
}
.div1 a{
	text-decoration: none; color:#D53E1F;
}
.div3{
	height: 100px; width: 25%; background-color:#37CDA8; font-style:oblique; font-weight:bold; margin-top: 18%;
}
.div3 h2{
	color:#D53E1F; padding-right:30%; padding-top:10px; font-style:italic;
}